apiVersion: redis.inditex.dev/v1
kind: RedkeyCluster
metadata:
  labels:
    app.kubernetes.io/name: redkey-cluster-operator
    app.kubernetes.io/managed-by: kustomize
  name: redis-cluster-ephemeral
spec:
  primaries: 3
  # replicasPerPrimary: 0
  ephemeral: true
  accessModes: 
  - ReadWriteOnce
  image: redis:8-bookworm
  purgeKeysOnRebalance: true
  labels:
    team: a-team
    custom: custom-label
  config: |
    maxmemory 90mb
    maxmemory-samples 5
    maxmemory-policy allkeys-lru
    protected-mode no
    appendonly no
    save ""
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
  robin:
    config:
      reconciler:
        intervalSeconds: 30
        operationCleanUpIntervalSeconds: 30
      cluster:
        healthProbePeriodSeconds: 60
        healingTimeSeconds: 60
        maxRetries: 10
        backOff: 10
      metrics:
        intervalSeconds: 60
        redisInfoKeys:
          - keyspace_hits
          - evicted_keys
          - connected_clients
          - total_commands_processed
          - keyspace_misses
          - expired_keys
          - redis_version
          - used_memory_rss
          - maxmemory
          - used_cpu_sys
          - used_cpu_sys_children
          - used_cpu_user
          - used_cpu_user_children
          - total_net_input_bytes
          - total_net_output_bytes
          - aof_base_size
          - aof_current_size
          - mem_aof_buffer
    template:
      spec:
        containers:
          - image: redkey-robin:0.1.0
            name: robin
            imagePullPolicy: Always
            ports:
              - containerPort: 8080
                name: prometheus
                protocol: TCP
            volumeMounts:
              - mountPath: /opt/conf/configmap
                name: redis-cluster-ephemeral-robin-config
            resources:
              requests:
                cpu: 500m
                memory: 100Mi
              limits:
                cpu: 1
                memory: 200Mi
        volumes:
          - configMap:
              defaultMode: 420
              name: redis-cluster-ephemeral-robin
            name: redis-cluster-ephemeral-robin-config
  # override:
  #   service:
  #     metadata:
  #       annotations:
  #         traffic.inditex.dev/weight: "80"
  #       labels:
  #         inditex.dev/test: "test"
  #     spec:
  #       ports:
  #       - name: prometheus
  #         port: 9090
  #         targetPort: 9090
  #         protocol: TCP
  #  statefulSet:
  #    metadata:
  #      annotations:
  #        traffic.inditex.dev/weight: "10"
  #      labels:
  #        inditex.dev/test: "test"
  #     spec:
  #       template:
  #         metadata:
  #           labels:
  #             inditex.dev/test: "test"
  #         spec:
  #           tolerations:
  #             - key: "test"
  #               operator: "Equal"
  #               value: "test"
  #               effect: "NoSchedule"
  #           topologySpreadConstraints:
  #           - maxSkew: 1
  #             topologyKey: kubernetes.io/hostname
  #             whenUnsatisfiable: DoNotSchedule
  #             labelSelector:
  #               matchLabels:
  #                 app: foo
  #             matchLabelKeys:
  #               - pod-template-hash
  #           containers: 
  #           - name: nginx
  #             image: nginx
  #           - name: redis
  #             env:
  #              - name: test
  #                value: test
  #           terminationGracePeriodSeconds: 10
