apiVersion: redis.inditex.com/v1
kind: RedisCluster
metadata:
  labels:
    app.kubernetes.io/name: redis-cluster-operator
    app.kubernetes.io/managed-by: kustomize
  name: redis-cluster
spec:
  replicas: 1
  ephemeral: true
  accessModes: 
  - ReadWriteOnce
  deletePVC: false
  image: redis:8-bookworm
  purgeKeysOnRebalance: true
  labels:
    team: team-a
    custom: labels
  config: |
    maxmemory 90mb
    maxmemory-samples 5
    maxmemory-policy allkeys-lru
    protected-mode no
    appendonly no
    save ""
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
  # override:
  #   service:
  #     metadata:
  #       annotations:
  #         traffic.inditex.com/weight: "101"
  #       labels:
  #         inditex.com/test: "test"
  #     spec:
  #       ports:
  #       - name: prometheus
  #         port: 9090
  #         targetPort: 9090
  #         protocol: TCP
  #       selector:
  #         inditex.com/test: "test"
  #   statefulSet:
  #     metadata:
  #       annotations:
  #         traffic.inditex.com/weight: "10"
  #     spec:
  #       template:
  #         metadata:
  #           labels:
  #             inditex.com/test: "test"
  #         spec:
  #           tolerations:
  #             - key: "test"
  #               operator: "Equal"
  #               value: "test"
  #               effect: "NoSchedule"
  #           topologySpreadConstraints:
  #           - maxSkew: 1
  #             topologyKey: kubernetes.io/hostname
  #             whenUnsatisfiable: DoNotSchedule
  #             labelSelector:
  #               matchLabels:
  #                 app: foo
  #             matchLabelKeys:
  #               - pod-template-hash
  #           containers: 
  #           - name: nginx
  #             image: nginx
  #           - name: redis
  #             env:
  #              - name: test
  #                value: test
  #           terminationGracePeriodSeconds: 10
