apiVersion: redis.inditex.com/v1alpha1
kind: RedisCluster
metadata:
  name: redis-cluster-modules-test
  namespace: redis-operator
  labels:
    tier: redis-cluster
    team: team-a
    custom: labels
spec:
  config: |
    maxmemory 90mb
    cluster-enabled no
    loadmodule /opt/redis-stack/lib/redisearch.so
    loadmodule /opt/redis-stack/lib/rejson.so
    loadmodule /opt/redis-stack/lib/redistimeseries.so
    appendonly no
    save ""
  deletePVC: false
  ephemeral: true
  image: redis/redis-stack-server:7.4.0-v3
  labels:
    app: redis-cluster-modules-test
    domain: productandcatalog
    tenant: za
    application: kpiengine
    layer: middleware-redis
    platform: meccanoarteixo2
    environment: preint
    version: 2.6.0
    template: senttpl-redis_2.6.0
    type: middleware
    slot: meckpieng
  replicas: 1
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
  