apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: redis-cluster-operator
    app.kubernetes.io/managed-by: kustomize
  name: redis-operator-webhook-service
  namespace: redis-operator
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  selector:
    control-plane: redis-operator-webhook
